*.iml
.idea
.env
.vscode
!.env.example
node_modules
package-lock.json
yarn.lock

.terraform
.terraform.lock.hcl

dist
packages/*/dist
packages/*/src/generated
packages/*/dist.zip

.yarn/*
yarn-error.log

#Prisma
packages/backend/prisma/client
packages/backend/newrelic_agent.log

coverage
packages/*/coverage